.container {
    background: var(--gray2a);
    border: 1px solid var(--gray8);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: var(--font-primary);
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 0.8rem;
    color: var(--grayd8);
}
