{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "extends": [
        "airbnb-typescript"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "globals": {
        "chrome": "readonly"
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "rules": {
        "arrow-body-style": "off",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "@typescript-eslint/indent": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "import/prefer-default-export": "off",
        "@typescript-eslint/naming-convention": [
            "error",
            {
                "selector": [
                    "enumMember"
                ],
                "format": ["PascalCase", "UPPER_CASE"]
            }
        ],
        "import/no-extraneous-dependencies": [
            "error",
            {
                "devDependencies": [
                    "**/*.config.ts",
                    "**/*.config.js",
                    "tasks/*"
                ]
            }
        ]
    }
}
