{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "plugin:react/recommended"
    ],
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "globals": {
        "chrome": "readonly"
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "rules": {
        "no-shadow": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "import/no-extraneous-dependencies": 0,
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "react/jsx-indent": [
            "error",
            4
        ],
        "react/jsx-indent-props": [
            "error",
            4
        ],
        "no-underscore-dangle": "off",
        "react/destructuring-assignment": [
            "error",
            "always",
            {
                "ignoreClassFields": true
            }
        ],
        "react/prop-types": "off",
        // TODO remove this rule when app will grow bigger
        "class-methods-use-this": "off",
        "import/prefer-default-export": "off",
        "arrow-body-style": "off",
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off"
    }
}
