.notFound {
    text-align: center;
    padding-top: 168px;
}

.wrapper {
    max-width: 100%;
    height: calc(100vh - 260px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 16px;
}

.container {
    display: flex;
    flex-direction: column;
}

.label {
    width: 100%;
}

.item {
    display: flex;
    margin: 13px 0;
}
