.notFound {
    text-align: center;
    padding-top: 168px;
}

.container {
    display: flex;
    flex-direction: column;
}

.label {
    width: 100%;
}

.item {
    display: flex;
    margin: 1.3rem 0;
}
