.rule {
    line-height: 1.5rem;
    font-size: 1rem;
    color: var(--white);
    letter-spacing: 0;
    display: block;
}

.ruleButton {
    text-align: left;
    font-size: 1rem;
    font-family: inherit;
    border: 0;
    padding: 0;
    color: inherit;
    max-width: 100%;
    word-break: break-all;
}

.checkboxContainer {
    display: flex;
}
