.domain {
    padding-left: 40px;
    line-height: 1rem;
    font-size: 0.87rem;
    color: var(--gray700);
    margin-bottom: 8px;
}

.domainGroup {
    padding-top: 32px;
}

.notFound {
    text-align: center;
    padding-top: 168px;
}

.wrapper {
    max-width: 100%;
    height: calc(100vh - 260px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 16px;
}
