.domain {
    padding-left: 4rem;
    line-height: 1.6rem;
    font-size: 1.4rem;
    color: var(--gray700);
    margin-bottom: 0.8rem;
}

.domainGroup {
    padding-top: 3.2rem;
}

.notFound {
    text-align: center;
    padding-top: 168px;
}

.wrapper {
    max-width: 100%;
    height: calc(100vh - 260px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 16px;
}
