.editor {
    & .ace_keyword {
        color: var(--blue-editor)!important;
    }

    & .ace_string {
        color: var(--orange-editor)!important;
    }

    & .ace_constant {
        color: var(--pink-editor)!important;
    }

    & .ace_comment {
        color: var(--green-editor)!important;
    }

    & .ace_cursor {
        color: var(--grayd8);
    }
}
