.optionItem {
    display: flex;
    padding: 1.3rem 1.3rem 1.3rem 4.2rem;
    width: calc(100% + 2.6rem);
    transform: translateX(-1.3rem);
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease background-color;
    user-select: none;

    &.disabled {
        cursor: default;
        pointer-events: none;
    }

    &:hover {
        background-color: var(--gray4d);
    }
}