.optionItem {
    display: flex;
    padding: 1.3rem 0;
    align-items: center;
    justify-content: space-between;
}

.icon {
    margin-right: 1.6rem;
}

.button {
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0;
}

.optionLabel {
    font-size: 1.6rem;
    color: var(--white);
    cursor: pointer;
}

.optionLabelDesc {
    font-size: 1.4rem;
    color: var(--gray700);
}
