.footer {
    position: relative;
    bottom: 0;
    height: 4.8rem;
    background: var(--gray2a);
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
    z-index: var(--z_-1);
    padding-right: 3.2rem;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textCenter {
    margin: 0 5px;
}

.footerLogo {
    position: absolute;
    left: -41px;
    top: -4px;
}
