.footer {
    position: relative;
    bottom: 0;
    height: 4.8rem;
    background: var(--gray2a);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.footerDisabled {
    opacity: 0.5;
}

.footerLogo {
    position: absolute;
    left: -40px;
    top: 0;
}
