.container {
    line-height: 1.9rem;
}

.title {
    margin: 3.2rem 0 0.6rem;
}

.section {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--grayd8);
    letter-spacing: 0;
}

.version {
    margin: 3.2rem 0 0.6rem;
}

.readMoreSection {
    composes: section;
    margin: 2.4rem 0 3.2rem;
}

.readMoreLink {
    display: block;
    line-height: 1.9rem;
}
