.container {
    line-height: 1.18rem;
}

.section {
    font-weight: 400;
    font-size: 1rem;
    color: var(--grayd8);
    letter-spacing: 0;
}

.readMoreSection {
    composes: section;
    margin: 34px 0 32px;
}

.readMoreLinkWrapper {
  margin-bottom: 16px;
}

.readMoreLink {
    line-height: 1.18rem;
}
