.page-info {
    margin: 0;
    text-align: center;

    &__main {
        font-weight: 600;
        font-size: 2.4rem;
        color: var(--white);
    }

    &__additional {
        font-weight: 400;
        font-size: 1.4rem;
        color: var(--graya4);
        text-align: center;
    }
}
