.mainSection {
    max-width: 100%;
    margin-top: 4.4rem;
    margin-bottom: auto;
}

.refreshButton {
    color: var(--green);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}
