.mainSection {
    max-width: 100%;
}

.refreshButton {
    color: var(--green);
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    transition: 0.3s ease color;

    &:hover {
        color: var(--green700);
    }
}
