.tooltip {
    font-size: 1rem;
    letter-spacing: 0;
    border: 1px solid var(--gray700);
    text-align: right;
    background-color: var(--black);
    width: 200px;
    padding: 8px 0;
    z-index: var(--z_2);
}
