.search {
    background-color: var(--transparent);
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    width: 100%;

    &::placeholder {
        color: var(--gray8);
    }
}

.container {
    margin-left: 0.75rem;
    padding-left: 0.75rem;
    padding-bottom: 0.75rem;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--grayf3);
}
