.tooltip {
    /* TODO check font */
    font-family: SegoeUI;
    font-size: 1.6rem;
    color: var(--gray4d);
    letter-spacing: 0;
    text-align: right;
    background-color: var(--white);
    width: 20rem;
    z-index: var(--z_2);
}
