* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    outline: none;
    text-rendering: geometricPrecision;
}

html {
    box-sizing: border-box;
    font-size: 10px;
}

.test {
    &--1 {
        background-color: yellowgreen;
    }
}
