.icon {
    display: inline-block;
    vertical-align: middle;
}

.iconButton {
    composes: icon;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.iconLogo {
    composes: icon;
    width: 113px;
    height: 25px;
}

.iconAction {
    composes: icon;
    width: 17px;
    height: 17px;
}

.iconOption {
    composes: icon;
    width: 21px;
    height: 21px;
}

.disabledLogo {
    width: 69px;
    height: 69px;
    margin-bottom: 32px;
}
