.sectionContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pageInfoAdditional {
    padding-top: 0.4rem;
}

.buttonGreen {
    background-color: var(--green);
    color: var(--white);
    border-radius: 0;
    border: none;
    padding: 0;
}
