.section {
    height: 32.4rem;
    background-color: var(--bg-main);
    margin: 4.8rem auto 3.6rem;
    display: flex;
}

.content {
    width: 100%;
    max-width: 100%;

    @media (min-width: 640px) {
        max-width: 30rem;
    };

    &__btn {
        margin-left: 1.5rem;
    }
}

