.limits {
    margin-bottom: 32px;
}

.limit {
    color: var(--orange);
    display: block;
}

.limit + .limit {
    margin-top: 12px;
}

.notificationLink {
    color: var(--green);
    text-decoration: underline;
}
