.addRuleContainer {
    margin: 3rem 0 0;
}

.addRuleButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 0;
}

.addRule {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--green);
    padding-left: 1.6rem;
}
