.container {
    width: 17rem;
}

.compareLink {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    display: block;
    margin: 1.6rem 0 2.3rem
}

.button {
    padding: 0;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--gray8);
}

.notice {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--white);
}

.noticeHr {
    margin-bottom: 2.5rem;
}
