.popup {
    width: 100%;
    height: 100%;
    min-width: 32rem;
    min-height: 48rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30rem;
    max-width: 25rem;
    color: white;
    align-self: center;
    padding-top: 7.2rem;
}
