.block {
    padding: 24px 0;
    max-width: 720px;
}

.title {
    font-size: 16px;
    line-height: 24px;
}

.extraSpace {
    padding-bottom: 32px;
}

.desc, .value {
    font-size: 14px;
    line-height: 18px;
}

.desc {
    font-weight: 400;
}

.title, .value {
    font-weight: 600;
}
