.block {
    padding: 24px 0;
    max-width: 720px;
}

.title {
    font-size: 1rem;
    line-height: 1.5rem;
}

.extraSpace {
    padding-bottom: 32px;
}

.desc, .value {
    font-size: 0.87rem;
    line-height: 1.12rem;
}

.desc {
    font-weight: 400;
}

.title, .value {
    font-weight: 600;
}
