.limits {
    max-width: 368px;
}

.block {
    padding: 24px 0;
}

.title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.value {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
