.limitsExceed {
    width: 100%;
    position: relative;
    bottom: 0;
    background: var(--red300);
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.12rem;
    color: white;
    padding: 0 16px;
}

.link {
    display: block;
    margin-left: auto;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    margin-bottom: 16px;
}
