.limitsExceed {
    width: 100%;
    position: relative;
    bottom: 0;
    background: var(--red300);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
    padding: 0 16px;
}

.link {
    display: block;
    margin-left: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-bottom: 16px;
}
